table.schedule {
  border: thin solid silver;
  border-collapse: collapse;
  font-style: normal;
  width: 90%;
  margin: 2px auto;
  background-color: white;
}

table.schedule th[colspan="5"] {
  padding: 10px 0;
  text-align: center;
  color: maroon;
}

table.schedule td, table th {
  border: thin solid silver;
  padding: 2px;                                                                                                                                                                                     
}

table.schedule td:nth-child(odd), table th:nth-child(odd) {
  width: 25%;                                                                                                                                                                                           
}

table.schedule td:nth-child(even), table th:nth-child(even) {
  width: 12.5%;                                                                                                                                                                                              
}

table.schedule thead tr:first-child {
  font-size: 150%;
  font-style: normal;
}

table.schedule tbody td {
  height: 6em;
  overflow-y: auto;
  vertical-align: top;
  padding: 2px 4px 2px 8px;
}

table.schedule tbody tr td:nth-child(even) {
  background-color: #eee;
}

table.schedule tbody tr:last-child td {
  background-color: #eee;
}

table.schedule tbody tr td>span:first-child {
  font-style: normal;
  font-size: 75%;
  display: block;
  padding-bottom: 4px;
  font-variant: small-caps;
  font-weight: bold;
  color: maroon;
  background-color: inherit;
  text-indent: -4px;
}

table.schedule tbody tr td ol {
  margin: 0;
  padding-left:1.5em;
}

table.schedule tbody tr td ol>:not(li[value]) {
  list-style-type: none;
  margin-left: -1.5em;
}

table.schedule tbody tr td ol {
  list-style-type: none;
}

table.schedule tbody tr td ol>li[value]:before {
  content: 'Ch ' attr(value) ". \00a0";
  display: inline-block;
  text-indent: -1.5em;
  font-variant: small-caps;
}

.no-class {
  background-color: #eee;
}

.exam {
  color: blue;
  font-weight: normal;
}

.no-meeting {
  background-color: #eee;
}