
table.schedule {
  border-collapse: collapse;
  font-style: normal;
  width: 80%;
  margin: 2px auto;
  background-color: white;
}

table.schedule th[colspan="5"] {
  padding: 10px 0;
  text-align: center;
  color: #3070a8;
  border: none;
}
    
table.schedule td, table th {
  border: thin solid #000;
  padding: 2px;                                                                                                                                                                                     
}

table.schedule td:nth-child(even), table th:nth-child(even) {
  width: 29%;                                                                                                                                                                                           
}

table.schedule td:nth-child(odd), table th:nth-child(odd) {
  width: 14%;                                                                                                                                                                                              
}

table.schedule thead tr:first-child {
  font-size: 150%;
  font-style: normal;
}

table.schedule thead tr:nth-child(2) th {
  text-align: center;
  border: thin solid black;
}

table.schedule tbody td {
  height: 6em;
  overflow-y: auto;
  vertical-align: top;
  padding: 2px 4px 2px 8px;
  font-size: 14px;
  border: thin solid #000;
}


table.schedule tbody tr td:nth-child(odd) {
  background-color: #eee;
}

/*
table.schedule tbody tr:last-child td {
  background-color: silver;
}
*/

/* Style the date */
table.schedule tbody tr td>span:first-child {
  font-style: normal;
  font-size: 75%;
  display: block;
  padding-bottom: 4px;
  font-variant: small-caps;
  font-weight: bold;
  color: #3070a8;
  background-color: inherit;
  text-indent: -4px;
}


table.schedule tbody tr td ul {
  margin: 0;
  padding-left:1.5em;
}


/*
table.schedule tbody tr td ul>:not(li[value]) {
  list-style-type: none;
  margin-left: -1.5em;
}
*/

table.schedule tbody tr td:nth-child(odd) ul {
  list-style-type: none;
}

table.schedule tbody tr td:nth-child(even) ul {
  list-style-type: square;
  margin: 0;
  padding: 0 10px 10px 2px;
}

/*
table.schedule tbody tr td ul>li[value]:before {
  content: 'Ch ' attr(value) ". \00a0";
  display: inline-block;
  text-indent: -1.5em;
  font-variant: small-caps;
}
*/

.no-class {
  background-color: #eee;
}

li.exam {
  color: #000;
  font-weight: bold;
  background: url('images/exam-icon2.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 2px;

}


li:not([class]) {
  background: url('images/nand-gate.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 4px;
}

li.code-book {
  background: url('images/C-code-book.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 4px;
}

li.n2t-book {
  background: url('images/n2t-logo.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 4px;
}

li.n2t-project {
  background: url('images/project.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 4px;
}

li.n2t-read {
  background: url('images/read.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 4px;
}

li.mips {
  background: url('images/MIPS-Processors.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 4px;
}

li.wrap-up {
  background: url('images/gift.png') no-repeat left 0px;
  padding-left: 22px;
  display: block;
  padding-bottom: 4px;
}

.no-meeting {
  font-style: italic;
  color: black;
  background-color: #eee;
}
